@font-face {
    font-family: 'Firacode';
    src: url('font/firacode-regular-webfont.woff2') format('woff2'),
         url('font/firacode-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('font/merriweather-regular-webfont.woff2') format('woff2'),
         url('font/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,
body {
 margin:0;
 padding:0
}
body {
 background-color:#172846;
 color:#ddd;
 font-family:Merriweather,Georgia,serif;
}
code {
 font-family: Firacode, monospace;
 font-size: 0.875em;
 line-height: 1.2;
 padding: 2px 4px;
 background-color:#272822;
 color: #ddd;
 overflow: auto;
 border-radius: 5px;
}
.icon {
 max-width: initial;
 min-width: 10%;
}
figcaption {
 text-align:center;
 padding:1em;
}
figure {
 overflow: auto;
}
img {
 display: block;
 margin-left:auto;
 margin-right:auto;
 height:auto;
 max-width:100%;
 min-width: 440px;
 overflow: auto;
}
#small-size-img {
 min-width:initial
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
label,
ul,
ol,
dl,
fieldset,
address {
 margin:1em 0;
 line-height:1.6;
 font-family:Merriweather,Georgia,serif;
}
h1 {
 font-size:34px
}
li,
dd {
 margin-left:5%;
}
ul {
 padding: 0;
}
.table-wrapper {
 overflow: auto;
}
table {
 border: 1px solid black;
 margin-left: auto;
 margin-right: auto;
 border-collapse: separate;
 border-spacing: 10px 10px;
 line-height: 1.4em;
 background-color:rgb(250, 250, 250);
}
th,
td {
 padding: 0 10px;
 white-space: nowrap;
}
fieldset {
 padding:.5em
}
select option {
 padding:0 5px
}
select,
option {
 color:black
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.hide,
.print-logo,
.close-button {
 display:none
}
.left {
 float:left
}
.right {
 float:right
}
.clear {
 clear:both;
 height:1px;
 font-size:1px;
 line-height:1px
}
a img {
 border:none
}
.highbar {
 height:5px;
 background:#f0ed61;
}
pre {
 overflow-x:auto
}
#header {
 z-index:999;
 width:100%
}
#header .inside {
 width:600px;
 padding-top:2.5em
}
#header h2 a {
 text-decoration:none;
 color:#f0ed61;
}
#header p {
 padding:1em 0;
 margin:0;
 line-height:1em
}
.top-menu {
 background:#006652;
 background:#617981;
 background:#96838E;
 background:#FFF;
 padding:5px;
 text-align:center
}
.menuNav a {
 color:#f7f7f7;
 text-decoration:none;
 font-size:14px;
 font-weight:400;
 padding:0 10px
}
.name {
 width:calc(50% - 5px)
}
.name h2 {
 margin-bottom:10px
}
.pageslinks {
 float:right;
 width:100%;
 text-align:right
}
.pageslinks .active {
 color:#f0ed61;
 border-bottom:4px solid rgba(136,136,152,0.4)
}
#header .box {
 padding-top:2.5em;
 padding-bottom:2.5em;
 margin:auto;
 width:75%;
 max-width: 960px;
 padding-left:15px;
 padding-right:15px
}
.container-gallery {
 background:rgb(250, 250, 250);
 width:100%;
 max-width:960px;
 margin:0 auto;
 color:#606060
}
.container-gallery .inside,
.container-gallery>header {
 margin:0 auto;
 padding:1.875em 3.75em
}
@media only screen and (max-width: 950px) {
.container-gallery .inside,
.container-gallery>header {
  padding-left: 5%;
  padding-right: 5%;
 }
}

@media only screen and (max-width: 600px) {
.container-gallery .inside,
.container-gallery>header {
  padding-left: 15px;
  padding-right: 15px;
 }
}
.container-gallery .sidebar {
 float:right;
 width:200px;
 border-left:1px dotted #96838E;
 padding:2.5em;
 padding-top:1em;
 margin:2.1em;
 text-align:center;
 min-height:600px
}
.container-gallery>header>span span:after {
 width:30px;
 height:30px;
 left:-12px;
 font-size:50%;
 top:-8px;
 font-size:75%;
 position:relative
}
.container-gallery a {
 color:#955251;
 text-decoration:none
}
.feature_title p {
 color:#888898;
 font-family:Merriweather,Georgia,serif;
 font-size:20px;
 font-style:italic;
 font-weight:300
}
#footer {
 clear:both;
 color:#fcfcfc;
 padding:2em 0 3em 0;
 bottom:0;
 width:100%;
 font-family:Merriweather,Georgia,serif;
 font-size:14px
}
#footer .inside {
 padding:1em 0;
 width:calc(100% - 30px);
 max-width:960px;
 margin:0 auto
}
#footer .inside a {
 text-decoration:none;
 color:#eed2e2
}
#footer p {
 margin:0;
 font-size:0.95em
}
#footer p.copyright {
 float:left;
 padding:2em 0 3em 0;
}
#footer p.attributes {
 float:right
}
#footer p.attributes a {
 padding:0 0 0 1em;
 text-decoration:none;
 color:#525252
}
#footer p.attributes a:hover {
 color:#FFF
}
.grid-wrap {
 max-width:calc(100% - 7.75em);
 margin:0 auto;
 padding:0
}
