/*
Theme Name: The Professional
Theme URI: http://katychuang.com
Description: A minimalist theme with excerpts on the front and a customizable footer.
Version: 0.1
Last Updated: 11/12/15
Author: Kat Chuang
Author URI: http://katychuang.com
Tags: black, dark, custom-colors, theme-options, two-columns, fixed-width, rtl-language-support, custom-background, translation-ready, blog, photography, portfolio, clean, dark, elegant, minimal
*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:400,400italic,700|Halant:300,400,500|Over+the+Rainbow)
;

@import url("font-awesome.css");
html, body {
  margin: 0;
  padding: 0;
}

body {
  align: center;
  background-color: rgb(248, 249, 250);
  font-family:"Halant", serif;
  font-size: 16px;
  color:#444;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }
select, option { color:black; }
.hide, .print-logo, .close-button{ display:none; }
.left{ float:left; }
.right{ float:right; }
.clear{ clear:both; height:1px; font-size:1px; line-height:1px; }
a img{ border:none; }


.highbar {
  height:5px;
  background: #006652; /*emerald*/
}

/*-----------------------------------------------------------------------------------------------
  Header
-----------------------------------------------------------------------------------------------*/
#header{
  z-index: 999;
  width:100%;
}

#header .inside{
  width: 600px;
  padding-top: 2.5em;
}


#header h2 a {
  text-decoration:none;
  color: #1A9485;
}

#header p{
  padding:1em 0;
  margin:0;
  line-height:1em;
}

.top-menu {
  background: #006652; /*emerald*/
  background: #617981; /*charcoal*/
  background: #96838E; /*pink*/
  background: #FFF;
  padding: 5px;
  text-align: center;
}
.menuNav a{
  color: #96838E;
  text-decoration: none;
  font-family: 'Roboto Condensed', 'Roboto';
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px;
}

.name  {
  display: inline-block;
  width: calc(50% - 5px);
}
.name h2{
  margin-bottom:10px;
}
.pageslinks{
  display:inline-block;
  width:50%;
  text-align:right;
}

.pageslinks .active {
  color: #000;
  border-bottom: 4px solid rgba(136, 136, 152, 0.4);

}
#header .box{
  padding-top: 2.5em;
  margin: 0 auto;
  width: 960px;
  padding-left: 15px;
  padding-right:15px;
}

/*-----------------------------------------------------------------------------------------------
	  Body
-----------------------------------------------------------------------------------------------*/

.container-gallery {
  background: #fff;
  width: 960px;
  margin: 0 auto;
  color: #606060;
}

.container-gallery .inside,
.container-gallery > header {
  margin: 0 auto;
  padding: 1.875em 3.75em;
}

.container-gallery .sidebar{
  float: right;
  width: 200px;
  border-left: 1px dotted #96838E;
  padding: 2.5em;
  padding-top: 1em;
  margin: 2.1em;
  text-align: center;
  min-height: 600px;
}

.container-gallery > header > span span:after {
  width: 30px;
  height: 30px;
  left: -12px;
  font-size: 50%;
  top: -8px;
  font-size: 75%;
  position: relative;
}


.container-gallery a {
  color: #955251;
  text-decoration: none;
}

.feature_title p {
    color: #888898;
    font-family: 'Over the Rainbow';
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}


/*-----------------------------------------------------------------------------------------------
	  Foooter
-----------------------------------------------------------------------------------------------*/

#footer{
  clear: both;
  color: #939393;
  padding: 2em 0 3em 0;
  bottom: 0;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
#footer .inside{
  padding: 1em 0;
  width: calc(100% - 30px);
  max-width: 960px;
  margin: 0 auto;
}
#footer .inside a{
  text-decoration: none;
  color: #96838E; /*pink*/
}



#footer p{
  margin:0;
  font-size:0.95em;
}

#footer p.copyright{ float:left; }
#footer p.attributes{ float:right; }
#footer p.attributes a{
  padding:0 0 0 1em;
  text-decoration:none;
  color:#525252;
}
#footer p.attributes a:hover{
  color:#FFF;
}

/*component*/

.grid-wrap {
    max-width: calc(100% - 7.75em);
    margin: 0 auto;
    padding: 0;
}

