<ul>
    $for(posts)$
        <li>
            <a href="$url$">
                $if(fancyTitle)$
                    $fancyTitle$
                $else$
                    $title$
                $endif$
            </a> - $date$
        </li>
    $endfor$
</ul>
