<div class="info">
    $if(fancyTitle)$
      <h1>$fancyTitle$</h1>
    $else$
      <h1>$title$</h1>
    $endif$
    Posted on $date$
    $if(author)$
        by $author$
    $endif$
</div>
<hr>

$body$
